/*NavBar*/ 



/*ItemsListContainer*/
.imagen_carrousel{

height: 35rem;
}
.carousel-control-next-icon{
    color: black;
    background-color: black;
}
.carousel-control-prev-icon{
    background-color: black;
    color:black;
}
.CAPTION_CARROUSEL{
    color: black;
}
.product-card {
display: flexbox;
text-align: center;
}
.productos-flex{
    display: flex;
    padding: 20px;
  
}

.img-producto{
    width: 20rem;
    height: 12rem;
}
.productos-h2
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 20px;
    text-decoration: underline 2px black;
}
.btnAddCart{
    margin-top: 1rem;
}
.card{
    margin: 5rem;
    width: 23rem;
}
.container-cards{
    display: flex;
    margin-top: 10rem;
}
.card-body{
    text-align: center;
}
.img-detail{
    width: 40rem;
    height: 30rem;
    margin-right: 8rem;
}
.container-details{
    display: flex;
    margin-top: 7rem;
   
}
.description{
    padding-top: 5rem;
}
.logo{
    width:3rem;
    margin-right: 1rem;
}
.categorias{
    display: flex;
    color: black;
    font-family: Impact, Haettenschweiler,  sans-serif;
    font-size: 1.1rem;
    margin: 1rem;
    text-decoration: none;
}
.productos-flex{
    margin-top: -15rem;
}
.category{
    width: 9rem;
    display: inline-block;
    
    border: grey 2px solid;
}
.card {
    margin-bottom: 30px;
    width: 70rem;
    display: flexbox;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}
.img-responsive{
    width: 40rem;
}
.navbar{
    padding-right: 10px;
    color: black;
    text-decoration: none;
}
.navbar:hover{
    
    color: grey;
}
.cart{
    padding-left: 10px;
    font-size: 1.5rem;
    color: deepskyblue;
}
.titulo-checkout{
    text-align: center;
    padding: 2rem;
}
input{
    border-radius: 0.3rem;
    width: 15rem;
    height: 2rem;
 
  
}
input:hover{
    background-color: skyblue;
}
.body-check{
    background-color: #dee2e6;
    padding-bottom: 10rem;
}
.div-form{
    padding-bottom: 20px;
}
.cart-products{
    display: flex;
    margin-left: 4rem;
}
.collection-cart{
    margin-top: 2.5rem;
    padding-left: 3rem;
    display: flex;
}
.remove-btn{
    height: 2.5rem;
}
.separar{
    padding-left: 3rem;
}
.proced-checkout{
    margin-left: 55rem;
}
.cart-img{
    width: 15rem;
}
.btnBusqueda{
    height: 3rem;
    width: 3rem;
}
.input-group{
    justify-content: center;
}
.containerInput{
    align-items: end;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 25px;
    margin-bottom: 30px;
    margin-right: 35rem;
}
.inputBuscar{
    width: 50% !important;
    justify-content: center;
    height: 3rem;
}
.titulo-producto{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    /* margin: 100px; */
    margin: 10px;
}
.imagen-producto{
    display: inline-block;
}
.titulo-product{
    font-size: 2rem;
    margin: 10px;
    padding-bottom: 30px;
}
.fila-producto{
    border: solid 1px lightgray;
    padding-bottom: 20px;
    transition: width 1s, height 1s, background-color 2s, transform 2s;
    width: 80rem;
    height: 19rem;
}
.fila-producto:hover{
    background-color: #f3f8fa;
    width: 90rem;
    height: 21rem;
}
.producto-precio{
    color: green;
    font-style: oblique;
}
.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.titulo-cargando{
font-style: italic;
color: #dee2e6;
}